@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

h1 {
  font-family: "Lobster";
  font-size: 4rem;
  color: white;
}

h3 {
  font-family: "Lobster";
  color: white;
}

img {
  width: 449px;
}

.ESLogo {
  margin-top: 175px;
  margin-bottom: 174px;
  background: white;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: lightgrey;
  overflow: scroll;
}

.ContentWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.imgContainer {
  margin-top: 5%;
}

.plakat {
  box-shadow: 5px 5px 5px black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: scroll;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Forms {
  display: flex;
  flex-direction: row;
  padding-top: 25px;
}

.Stream {
  display: flex;
  flex-direction: row;
  padding-top: 25px;
}

.LinkContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1300px) {
  .Forms {
    flex-direction: column;
  }

  .Stream {
    flex-direction: column;
  }

  .YouTube {
    width: 704px;
    height: 480px;
    padding-bottom: 10px;
  }

  .Livechat {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 720px) {
  .App {
    width: 100vw;
    overflow-x: none;
  }

  .YouTube {
    width: 352px;
    height: 240px;
    padding-bottom: 10px;
  }

  .Livechat {
    margin: 0 auto;
  }
}
